{% extends 'base.html.twig' %}

{% block title %}Dashboard {{ event.name }}{% endblock %}

{% block body %}

    <div id="content-dialog">
        <i id="close-dialog" class="fa fa-times" aria-hidden="true"></i>
    </div>

    <header id="dashboard-header">
        <div class="logos"><img src="{{ asset('images/logo.png') }}"/></div>
        <div class="header-title">
            <h1>{{ event.name }}</h1>
            <h6>Abierto el {{ event.createdAt|date("d/m/Y") }}</h6>
        </div>
    </header>

    <div class="content">

        <div id="sources">
            <header>Fuentes</header>

            <div class="sources-official sources-wrap">
                <h5 class="type-source">Fuentes oficiales</h5>
                {% for source in event.sources %}
                    {% if source.credibility.id == 1 %}
                        <img class="image-source" src="{{ source.image }}" data-source-id="{{ source.id }}"
                             data-show="1"/>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="sources-mb">
                <h5 class="type-source">Fuentes aprobadas medios</h5>
                {% for source in event.sources %}
                    {% if source.credibility.id == 2 %}
                        <img class="image-source" src="{{ source.image }}" data-source-id="{{ source.id }}"
                             data-show="1"/>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="sources-newroom">
                <h5 class="type-source">Fuentes aprobadas pie de calle</h5>
                {% for source in event.sources %}
                    {% if source.credibility.id == 3 %}
                        <img class="image-source" src="{{ source.image }}" data-source-id="{{ source.id }}"
                             data-show="1"/>
                    {% endif %}
                {% endfor %}
            </div>

        </div>

        <div id="information">
            <header>
                <ul>
                    <li class="info-selector active-tab tab">Información</li>
                    <li class="bulo-selector tab">Bulos</li>
                </ul>
            </header>
            <div id="data-displayer">

            </div>
            <div id="bulo-displayer">

            </div>
        </div>

    </div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/base.css') }}"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,900" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <script id="dashboard-js" data-dashboard="{{ event.id }}" src="{{ asset('js/dashboard.js') }}"></script>
{% endblock %}
